---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

import ThemeToggler from "./ThemeToggler.astro";
import Logo from "@assets/images/logo/logo-vlock.png";
import LangSelect from "./LangSelect.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 2000;
  }
  #burger-menu {
    position: relative;
    user-select: none;
    z-index: 103;
  }
  #burger-menu a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
  }

  #burger-menu input[type="checkbox"] {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #burger-menu:hover {
    cursor: pointer;
  }
  #burger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), sopacity 0.55s ease;
  }
  :root[data-theme="light"] #burger-menu span {
    background-color: hsl(210 10% 15%);
  }
  #burger-menu__nav {
    position: absolute;
    top: 28px;
    left: -75px;
    width: 700px;
    padding: 100px;
    max-width: 100vw;
    transform: translate(-120%, 0);
    background-color: hsl(var(--color-tertiary) / 0.95);

    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #burger-menu input[type="checkbox"]:checked ~ #burger-menu__nav {
    transform: translate(0%, 0);
  }
</style>
<header id="main-header" class="bg-transparent">
  <div
    id="main-header__container"
    class="container flex items-center justify-between bg-white dark:bg-tertiary px-5 py-5 rounded-b-xl opacity-95"
  >
    <div id="burger-menu" class="lg:hidden">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="burger-menu__nav" class="bg-primary flex flex-col gap-4">
        <li><a href={`/${lang}/`}>{t("nav.home")}</a></li>
        <li><a href={`/${lang}/subscription`}>{t("nav.subscriptions")}</a></li>
        <li><a href={`/${lang}/parkings`}>{t("nav.parking_map")}</a></li>
        <li><a href={`/${lang}/account`}>{t("nav.my_account")}</a></li>
        <li><a href={`/${lang}/contact`}>{t("nav.contact")}</a></li>
        <li><LangSelect /></li>
      </ul>
    </div>
    <a href={`/${lang}/`}
      ><Image src={Logo}
        alt="Logo Vlock"
        class="w-[110px] ml-[-4.5px] lg:ml-0"
      /></a
    >
    <nav class="flex-grow uppercase font-bold hidden lg:block">
      <ul class="flex gap-3 items-center mx-auto justify-center self-center">
        <li><a href={`/${lang}/`}>{t("nav.home")}</a></li>
        <li><a href={`/${lang}/subscription`}>{t("nav.subscriptions")}</a></li>
        <li>
          <a
            href={`/${lang}/parkings`}
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded dark:bg-sky-200 dark:text-black"
            >{t("nav.parking_map")}</a
          >
        </li>
        <li><a href={`/${lang}/account`}>{t("nav.my_account")}</a></li>
        <li><a href={`/${lang}/contact`}>{t("nav.contact")}</a></li>
      </ul>
    </nav>
    <div id="toggleSection">
      <ul class="flex items-center gap-6">
        <li>
          <ThemeToggler />
        </li>
        <li class="gap-2 items-center hidden lg:flex">
          <LangSelect />
        </li>
      </ul>
    </div>
  </div>
</header>
