---
import "leaflet/dist/leaflet.css"
import "/src/assets/libs/css/leaflet.photon.css"

const data = await fetch('http://127.0.0.1:8000/api/map/mapitems/');
const mapitems = await data.json();
console.log(mapitems)

const gpsCoordinates = {
    lat: 50.64250,
    long: 5.58570
}

---
<!--
    PUBLIC CDN 
    <script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
 -->
<div id="map" style="max-height:calc(100vh-75px); height:100%; overflow:hidden;"></div>

 <script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script is:inline src="/src/assets/libs/js/leaflet.photon.js"></script>



<script data-map={mapitems}>
    const map = L.map('map', {
        photonControl:true,
        photonControlOptions: {
            placeHolder:'Recherchez...',
            position:'topright',
        }
    }).setView([50.64250, 5.58570,], 13)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {    
        attribution:'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        minZoom: 7,
        maxZoom: 20
    }).addTo(map);

     try {
        navigator.geolocation.getCurrentPosition((position) => {
            const { latitude, longitude } = position.coords;
            map.setView([latitude, longitude], 18);
            L.marker([latitude, longitude]).addTo(map);
        })
    } catch (error) {
        console.log(error);
    }

    console.log(this.dataset.mapitems[0].id)





</script>




